
<div class="contcontainer mt-5">
    <h1>CAR CENTER <small>a tu servicio</small></h1>
</div>
<div class="container mt-5">
<p class="fs-5">CAR CENTER es un taller que atiende a sus clientes a nivel nacional, prestando el servicio de reparación de vehículos con mecánicos altamente calificados 
    y proporcionando todos los repuestos necesarios en el mantenimiento.</p>

   <p class="fs-5"> El taller provee a sus CLIENTES una plataforma donde pueden registrarse e inscribir sus VEHICULOS. De esta manera, cuando el cliente requiere un 
   mantenimiento, puede solicitarlo a través de la plataforma e incluso subir fotos del estado de su vehículo para que pueda iniciarse una valoración del 
   arreglo.</p>
    
    <p class="fs-5"> llega una solicitud de mantenimiento, se asigna a un MECÁNICO (libre) para que se encargue de evaluar los daños, determinar los repuestos que 
    se requieren, determinar los diferentes servicios a ejecutar, estimar el tiempo que llevará el trabajo y el valor de la mano de obra. Toda esta información 
    estará disponible en línea para que el CLIENTE tenga conocimiento del estado del mantenimiento y del monto de su cuenta en cualquier momento. </p>
    
    <p class="fs-5">Durante la prestación del mantenimiento puede surgir la necesidad de otros repuestos y de otros servicios. Cuando esto ocurra se debe incluir 
    el nuevo repuesto y/o servicio al mantenimiento, e informar a través de mensajes de texto al CLIENTE para que revise su nuevo estado de cuenta. 
    El CLIENTE puede establecer un límite al presupuesto que tiene para el mantenimiento y la aplicación emitirá una alerta a través de mensaje de 
    texto cuando ese límite se supere.
</p>
</div>